:root{
	--figma-size: 100px;
	--figma-width: 200px;
	--figma-height: 300px;
	--figma-radius: 50px;
	--figma-red: #f24e1e;
	--figma-orange:#ff7262;
	--figma-purple: #a259ff;
	--figma-blue: #1abcfe;
	--figma-green: #0acf83;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.figma-red{
	height: var(--figma-size);
	width: var(--figma-size);
	background-color: var(--figma-red);
	border-top-left-radius: var(--figma-radius);
	border-bottom-left-radius: var(--figma-radius);
}

.figma-orange{
	height: var(--figma-size);
	width: var(--figma-size);
	border-top-right-radius: var(--figma-radius);
	border-bottom-right-radius: var(--figma-radius);
	background-color: var(--figma-orange);
}

.figma-purple{
	height: var(--figma-size);
	width: var(--figma-size);
	border-top-left-radius: var(--figma-radius);
	border-bottom-left-radius: var(--figma-radius);
	background-color: var(--figma-purple);
}

.figma-blue{
	height: var(--figma-size);
	width: var(--figma-size);
	border-radius: var(--figma-radius);
	background-color: var(--figma-blue);
}

.figma-green{
	height: var(--figma-size);
	width: var(--figma-size);
	border-top-left-radius: var(--figma-radius);
	border-bottom-left-radius: var(--figma-radius);
	border-bottom-right-radius: var(--figma-radius);
	background-color: var(--figma-green);
}

#beta-ui-figma{
	width: var(--figma-width);
	height: var(--figma-height);
	display: grid;
	grid-template-columns: 1fr 1fr;

}
